<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1536</integer>
    <key>capHeight</key>
    <integer>1280</integer>
    <key>descender</key>
    <integer>-512</integer>
    <key>familyName</key>
    <string>WOBNIAR</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>Descender</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>-512</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>Guid-1</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>-256</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>Baseline</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>Guideline1</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>256</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>Guideline 2</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>512</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>xheight</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>768</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>Guideline 4</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>1024</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>CapHeight</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>1280</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>Ascender</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>1536</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string>Guideline 10</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string>Guideline 11</string>
        <key>x</key>
        <integer>256</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string>Guideline 12</string>
        <key>x</key>
        <integer>512</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string>Guideline 13</string>
        <key>x</key>
        <integer>768</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string>Guideline 14</string>
        <key>x</key>
        <integer>1024</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string>Guideline 15</string>
        <key>x</key>
        <integer>1280</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>90</integer>
        <key>name</key>
        <string>Guideline 16</string>
        <key>x</key>
        <integer>1536</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
    </array>
    <key>openTypeNameDescription</key>
    <string>Variable component bitmap font with colours of rainbow </string>
    <key>openTypeNameDesigner</key>
    <string>Dr Anirban Mitra</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://github.com/mitradranirban/wobinar</string>
    <key>openTypeNameLicense</key>
    <string>This font is licensed under terms of Open Font Licence version 1.1. The licence is available at https://openfontlicnse.org </string>
    <key>openTypeNameLicenseURL</key>
    <string>https://openfontlicnse.org </string>
    <key>openTypeNameManufacturer</key>
    <string>Dr Anirban Mitra</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://fonts.atipra.in</string>
    <key>openTypeOS2VendorID</key>
    <string>anir</string>
    <key>unitsPerEm</key>
    <integer>2048</integer>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>1</integer>
    <key>xHeight</key>
    <integer>768</integer>
  </dict>
</plist>
