<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.0</key>
    <string>A_.0.glif</string>
    <key>A.1</key>
    <string>A_.1.glif</string>
    <key>A.2</key>
    <string>A_.2.glif</string>
    <key>A.3</key>
    <string>A_.3.glif</string>
    <key>A.4</key>
    <string>A_.4.glif</string>
    <key>A.5</key>
    <string>A_.5.glif</string>
    <key>A.6</key>
    <string>A_.6.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>B.0</key>
    <string>B_.0.glif</string>
    <key>B.1</key>
    <string>B_.1.glif</string>
    <key>B.2</key>
    <string>B_.2.glif</string>
    <key>B.3</key>
    <string>B_.3.glif</string>
    <key>B.4</key>
    <string>B_.4.glif</string>
    <key>B.5</key>
    <string>B_.5.glif</string>
    <key>B.6</key>
    <string>B_.6.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.0</key>
    <string>C_.0.glif</string>
    <key>C.1</key>
    <string>C_.1.glif</string>
    <key>C.2</key>
    <string>C_.2.glif</string>
    <key>C.3</key>
    <string>C_.3.glif</string>
    <key>C.4</key>
    <string>C_.4.glif</string>
    <key>C.5</key>
    <string>C_.5.glif</string>
    <key>C.6</key>
    <string>C_.6.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.0</key>
    <string>D_.0.glif</string>
    <key>D.1</key>
    <string>D_.1.glif</string>
    <key>D.2</key>
    <string>D_.2.glif</string>
    <key>D.3</key>
    <string>D_.3.glif</string>
    <key>D.4</key>
    <string>D_.4.glif</string>
    <key>D.5</key>
    <string>D_.5.glif</string>
    <key>D.6</key>
    <string>D_.6.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.0</key>
    <string>E_.0.glif</string>
    <key>E.1</key>
    <string>E_.1.glif</string>
    <key>E.2</key>
    <string>E_.2.glif</string>
    <key>E.3</key>
    <string>E_.3.glif</string>
    <key>E.4</key>
    <string>E_.4.glif</string>
    <key>E.5</key>
    <string>E_.5.glif</string>
    <key>E.6</key>
    <string>E_.6.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F.0</key>
    <string>F_.0.glif</string>
    <key>F.1</key>
    <string>F_.1.glif</string>
    <key>F.2</key>
    <string>F_.2.glif</string>
    <key>F.3</key>
    <string>F_.3.glif</string>
    <key>F.4</key>
    <string>F_.4.glif</string>
    <key>F.5</key>
    <string>F_.5.glif</string>
    <key>F.6</key>
    <string>F_.6.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.0</key>
    <string>G_.0.glif</string>
    <key>G.1</key>
    <string>G_.1.glif</string>
    <key>G.2</key>
    <string>G_.2.glif</string>
    <key>G.3</key>
    <string>G_.3.glif</string>
    <key>G.4</key>
    <string>G_.4.glif</string>
    <key>G.5</key>
    <string>G_.5.glif</string>
    <key>G.6</key>
    <string>G_.6.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H.0</key>
    <string>H_.0.glif</string>
    <key>H.1</key>
    <string>H_.1.glif</string>
    <key>H.2</key>
    <string>H_.2.glif</string>
    <key>H.3</key>
    <string>H_.3.glif</string>
    <key>H.4</key>
    <string>H_.4.glif</string>
    <key>H.5</key>
    <string>H_.5.glif</string>
    <key>H.6</key>
    <string>H_.6.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.0</key>
    <string>I_.0.glif</string>
    <key>I.1</key>
    <string>I_.1.glif</string>
    <key>I.2</key>
    <string>I_.2.glif</string>
    <key>I.3</key>
    <string>I_.3.glif</string>
    <key>I.4</key>
    <string>I_.4.glif</string>
    <key>I.5</key>
    <string>I_.5.glif</string>
    <key>I.6</key>
    <string>I_.6.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>J.0</key>
    <string>J_.0.glif</string>
    <key>J.1</key>
    <string>J_.1.glif</string>
    <key>J.2</key>
    <string>J_.2.glif</string>
    <key>J.3</key>
    <string>J_.3.glif</string>
    <key>J.4</key>
    <string>J_.4.glif</string>
    <key>J.5</key>
    <string>J_.5.glif</string>
    <key>J.6</key>
    <string>J_.6.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>K.0</key>
    <string>K_.0.glif</string>
    <key>K.1</key>
    <string>K_.1.glif</string>
    <key>K.2</key>
    <string>K_.2.glif</string>
    <key>K.3</key>
    <string>K_.3.glif</string>
    <key>K.4</key>
    <string>K_.4.glif</string>
    <key>K.5</key>
    <string>K_.5.glif</string>
    <key>K.6</key>
    <string>K_.6.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.0</key>
    <string>L_.0.glif</string>
    <key>L.1</key>
    <string>L_.1.glif</string>
    <key>L.2</key>
    <string>L_.2.glif</string>
    <key>L.3</key>
    <string>L_.3.glif</string>
    <key>L.4</key>
    <string>L_.4.glif</string>
    <key>L.5</key>
    <string>L_.5.glif</string>
    <key>L.6</key>
    <string>L_.6.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.0</key>
    <string>M_.0.glif</string>
    <key>M.1</key>
    <string>M_.1.glif</string>
    <key>M.2</key>
    <string>M_.2.glif</string>
    <key>M.3</key>
    <string>M_.3.glif</string>
    <key>M.4</key>
    <string>M_.4.glif</string>
    <key>M.5</key>
    <string>M_.5.glif</string>
    <key>M.6</key>
    <string>M_.6.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>comp0</key>
    <string>comp0.glif</string>
    <key>compB</key>
    <string>compB_.glif</string>
    <key>compG</key>
    <string>compG_.glif</string>
    <key>compI</key>
    <string>compI_.glif</string>
    <key>compO</key>
    <string>compO_.glif</string>
    <key>compR</key>
    <string>compR_.glif</string>
    <key>compV</key>
    <string>compV_.glif</string>
    <key>compY</key>
    <string>compY_.glif</string>
    <key>space</key>
    <string>space.glif</string>
  </dict>
</plist>
